<script src="../bower_components/page/page.js"></script>

<script>
    window.addEventListener('WebComponentsReady', function () {

        if (window.location.port === '') {  // if production
            page.base(app.baseUrl.replace(/\/$/, ''));
        }

        function scrollToTop(ctx, next) {
            //app.scrollPageToTop();
            next();
        }

        function closeDrawer(ctx, next) {
            //app.closeDrawer();
            next();
        }

        // Routes
        page('*', scrollToTop, closeDrawer, function (ctx, next) {
            next();
        });

        page('/', function () {
            app.route = 'home';
        });

        page(app.baseUrl, function () {
            app.route = 'home';
        });

        page('/users', function () {
            app.route = 'users';
        });

        page('/users/:name', function (data) {
            app.route = 'user-info';
            app.params = data.params;
        });

        page('/contact', function () {
            app.route = 'contact';
        });

        // 404
        page('*', function () {
            page.redirect(app.baseUrl);
        });

        page({
            hashbang: true, // add #! before urls
        });

    });
</script>
