<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<dom-module id="shared-styles">
    <template>
        <style>
            html {
                box-sizing: border-box;
            }
            *,
            *:before,
            *:after {
                box-sizing: border-box;
            }

            .layout {
                @apply(--layout);
            }
            .vertical {
                @apply(--layout-vertical);
            }
            .horizontal {
                @apply(--layout-horizontal);
            }
            .fit {
                @apply(--layout-fit);
            }
            .center {
                @apply(--layout-center);
            }
            .center-center {
                @apply(--layout-center-center);
            }
            .start-justified {
                @apply(--layout-start-justified);
            }
            .center-justified {
                @apply(--layout-center-justified);
            }
            .self-center {
                @apply(--layout-self-center);
            }
            .flex {
                @apply(--layout-flex);
            }
            .flex-none {
                @apply(--layout-flex-none);
            }
            .flex-auto {
                @apply(--layout-flex-auto);
            }
            .scroll {
                @apply(--layout-scroll);
            }

            .font-display4 {
                @apply(--paper-font-display4);
            }
            .font-display3 {
                @apply(--paper-font-display3);
            }
            .font-display2 {
                @apply(--paper-font-display2);
            }
            .font-display1 {
                @apply(--paper-font-display1);
            }
            .font-headline {
                @apply(--paper-font-headline);
            }
            .font-title {
                @apply(--paper-font-title);
            }
            .font-subheading {
                @apply(--paper-font-subheading);
            }
            .font-body2 {
                @apply(--paper-font-body2);
            }
            .font-body1 {
                @apply(--paper-font-body1);
            }
            .font-caption {
                @apply(--paper-font-caption);
            }
            .font-button {
                @apply(--paper-font-button);
            }
        </style>
    </template>
</dom-module>
