<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">


<dom-module id="x-log-in-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                --paper-input-container-color: var(--secondary-text-color);
                --paper-input-container-focus-color: var(--secondary-text-color);
                --paper-input-container-input-color: var(--primary-text-color);
            }
            paper-toolbar paper-icon-button {
                margin-right: 24px;
            }
            div.fit {
                min-width: 320px;
                min-height: 368px;
            }
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 320px;
                height: 368px;
                margin-top: -184px;
                margin-left: -160px;
                padding: 16px;
            }
            paper-input {
                border: 1px solid var(--divider-color);
                padding: 0 8px;
                width: 288px;
                border-radius: 2px;
            }
            paper-input:last-of-type {
                margin-top: 16px;
            }
            paper-button {
                width: 288px;
                margin: 16px 0;
                height: 56px;
                padding: 20px 0;
            }
            paper-button:first-of-type {
                background: var(--accent-color);
                color: var(--text-primary-color);
                margin: 32px 0 16px;
            }
            paper-button:last-of-type {
                background: var(--paper-indigo-500);
                color: var(--text-primary-color);
                margin: 16px 0 0;
            }
            paper-button + div {
                width: 100%;
                text-align: center;
            }
        </style>

        <paper-header-panel class="fit">
            <paper-toolbar>
                <paper-icon-button icon="arrow-back" on-click="goLanding"></paper-icon-button>
                <span class="title">Log in</span>
            </paper-toolbar>
            <div class="fit">
                <div class="container">
                    <paper-input type="email" error-message="Not a valid email address" label="Email Address"></paper-input>
                    <paper-input type="password" label="Password"></paper-input>
                    <paper-button on-click="goHome" raised>Log in</paper-button>
                    <div>OR</div>
                    <paper-button on-click="goHome" raised>Log in with facebook</paper-button>
                </div>
            </div>
        </paper-header-panel>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'x-log-in-view',
                goLanding: function () {
                    app.goLanding();
                },
                goHome: function () {
                    app.goHome();
                },
            });
        })();
    </script>
</dom-module>
