<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">

<dom-module id="x-home-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                --paper-toolbar-title: {
                    text-align: center;
                    line-height: 2;
                };
            }
            paper-toolbar paper-menu-button {
                padding: 0;
            }
            paper-toolbar paper-menu {
                --paper-menu-selected-item: {
                    font-weight: normal;
                };
            }
            paper-toolbar paper-menu paper-item {
                width: 110px;
            }
            .title {
                @apply(--paper-font-title);
            }
            .title-container {
                position: relative;
                width: 134px;
                text-align: center;
                margin: 0 auto;
                font-weight: bold;
            }
            .title-container img {
                position: absolute;
                top: -2px;
                left: -38px;
                width: 44px;
                height: 44px;
            }

            #tabs {
                --paper-tabs: {
                    height: 100%;
                };
                --paper-tabs-selection-bar: {
                    height: 6px;
                    background: var(--accent-color);
                }
            }

            .list,
            .gallery-preview-container {
                background: #F5F5F5;
            }

            .item-header {
                width: 100%;
                height: 64px;
                background: #fff;
            }
            .avatar {
                background: var(--paper-grey-500);
                display: inline-block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin: 12px;
                overflow: hidden;
            }
            .avatar img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
            }
            .item-info {
                height: 100%;
            }
            .item-display-name,
            .item-event-title {
                height: 50%;
                width: 100%;
                line-height: 32px;
                overflow: hidden;
                text-overflow: ellipses;
                white-space: nowrap;
            }
            .item-display-name {
                color: var(--primary-text-color);
                padding-top: 14px;
            }
            .item-event-title {
                color: var(--secondary-text-color);
                padding-top: 2px;
            }
            .item-favourites,
            .item-share {
                font-size: 14px;
            }
            .item-favourites iron-icon,
            .item-share iron-icon {
                width: 16px;
                height: 16px;
            }
            .item-favourites iron-icon {
                color: var(--paper-pink-300);
            }
            .item-share iron-icon {
                color: var(--paper-green-300);
            }
            .item-favourites {
                min-width: 56px;
                width: 56px;
            }
            .item-share {
                min-width: 80px;
                width: 80px;
            }
            .item-content {
                width: 100%;
            }
            .item-content .youtube-frame {
                width: 100%;
                height: 100%;
                margin-bottom: 8px;
            }

            .gallery-preview-container {
                width: 100%;
                height: 232px;
                position: relative;
                overflow-x: scroll;
            }
            .gallery-preview {
                position: absolute;
                top: 0;
                left: 0;
                width: 2652px;
                height: 100%;
                overflow: hidden;
                padding: 16px 8px;
            }
            .gallery-preview paper-material {
                display: inline-block;
                background: #fff;
                width: 200px;
                height: 200px;
                margin: 0 8px;
                overflow: hidden
            }
            .gallery-preview paper-material img {
                width: 100%;
                height: 100%;
                min-width: 100%;
                min-height: 100%;
            }

            .drawer-wrapper {
                background: var(--paper-grey-900);
                color: var(--text-primary-color);
                padding: 32px 0 0;
            }
            .user-avatar {
                background: var(--paper-grey-500);
                border-radius: 50%;
                width: 64px;
                height: 64px;
                margin: 0 auto 16px;
                overflow: hidden;
            }
            .user-avatar img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
            }
            .user-name {
                width: 100%;
                text-align: center;
                padding-bottom: 32px;
                border-bottom: 1px solid var(--divider-color);
                margin-bottom: 32px;
            }
            .nav-item {
                width: 100%;
                height: 64px;
                text-align: center;
                max-height: 64px

                cursor: pointer;
                cursor: hand;

                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .profile-container {
                @apply(--shadow-elevation-2dp);
                position: relative;
                width: 100%;
                height: 192px;
                padding: 16px;
            }
            .profile-container .overlay {
                z-index: -1;
                background: rgba(0, 0, 0, 0.5);
            }
            .profile-container > img.fit {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
                z-index: -2;

                -webkit-filter: blur(2px);
                -moz-filter: blur(2px);
                -o-filter: blur(2px);
                -ms-filter: blur(2px);
                filter: blur(2px);
            }
            .profile-avatar {
                background: var(--paper-grey-500);
                border-radius: 50%;
                width: 72px;
                height: 72px;
                margin: 0 auto 16px;
                overflow: hidden;
            }
            .profile-avatar img {
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                height: 100%;
            }
            .profile-name,
            .profile-status {
                width: 100%;
                text-align: center;
                color: var(--text-primary-color);
            }
            .profile-rating {
                width: 136px;
                margin: 6px auto 0;
            }
            .profile-rating iron-icon {
                color: var(--paper-yellow-a700);
            }

            #subtabs {
                --paper-tabs: {
                    border-bottom: 1px solid rgba(182, 182, 182, 0.3);
                    height: 56px;
                    width: 100%;
                };
                --paper-tabs-selection-bar: {
                    background: var(--primary-color);
                }
            }
            .profile iron-list {
                padding: 16px 0;
            }
            .profile .item-event-title {
                height: 100%;
                padding-top: 24px;
                padding-left: 16px;
            }

            /* Tablet+ */
            @media (min-width: 601px) {
                .title-container {
                    font-size: 22px;
                    left: 32px;
                }
                .title-container img {
                    top: -5px;
                    left: -60px;
                    width: 54px;
                    height: 54px;
                }
            }
        </style>

        <paper-drawer-panel id="drawer" class="fit" disable-edge-swipe=true>
            <div class="drawer-wrapper vertical" drawer>
                <div class="user-avatar flex-none">
                    <img src="../../images/temp/profile.png">
                </div>
                <div class="user-name font-headline flex-none">Luther Hakanavanhu</div>
                <div class="nav-item font-headline flex-auto" on-click="closeDrawer">App Settings</div>
                <div class="nav-item font-headline flex-auto" on-click="closeDrawer">Account Settings</div>
                <div class="nav-item font-headline flex-auto" on-click="closeDrawer">Terms &amp; Policies</div>
                <div class="nav-item font-headline flex-auto" on-click="closeDrawer">Report a Problem</div>
                <div class="nav-item font-headline flex-auto" on-click="closeDrawer">About</div>
                <div class="nav-item font-headline flex-auto" on-click="goLanding">Sign out</div>
            </div>
            <paper-header-panel class="fit" main>
            <paper-toolbar class="medium-tall">
                <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                <span class="title">
                    <div class="title-container">
                        <img src="../../images/basketball.min.svg">
                        <span>Ball Together</span>
                    </div>
                </span>
                <paper-menu-button vertical-align="top" horizontal-align="right">
                    <paper-icon-button icon="add" class="dropdown-trigger"></paper-icon-button>
                    <paper-menu class="dropdown-content">
                        <paper-item>Add Event</paper-item>
                        <paper-item>Add Friend</paper-item>
                    </paper-menu>
                </paper-menu-button>
                <paper-tabs selected="0" class="fit bottom" noink id="tabs">
                    <paper-tab><iron-icon icon="home"></iron-icon></paper-tab>
                    <paper-tab><iron-icon icon="social:person"></iron-icon></paper-tab>
                    <paper-tab><iron-icon icon="star"></iron-icon></paper-tab>
                </paper-tabs>
            </paper-toolbar>
            <iron-pages id="pages" selected="0">
                <!--iron-list items="[[homeItems]]" as="item" class="fit list">
                    <template>
                        <div>
                            <div class="item-header layout">
                                <div class="avatar flex-none">
                                    <img src="../../images/temp/profile.png">
                                </div>
                                <div class="item-info flex">
                                    <div class="item-display-name font-body1">[[item.name]]</div>
                                    <div class="item-event-title font-body1">[[item.title]]</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>96</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <div class="gallery-preview-container">
                                    <div class="gallery-preview">
                                        <paper-material>filler</paper-material>
                                        <paper-material>filler</paper-material>
                                        <paper-material>filler</paper-material>
                                        <paper-material>filler</paper-material>
                                    </div>
                                </div>
                                <iframe class="youtube-frame" src="https://www.youtube.com/embed/b2aUTjpFwdY?autoplay=0"></iframe>
                            </div>
                        </div>
                    </template>
                </iron-list-->
                <div class="fit list">
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">Shared a video</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>42</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <iframe class="youtube-frame" src="https://www.youtube.com/embed/b2aUTjpFwdY?autoplay=0"></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">34 Photos</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>19</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <div class="gallery-preview-container">
                                <div class="gallery-preview">
                                    <paper-material>
                                        <img src="../../images/temp/1.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/2.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/3.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/4.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/5.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/6.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/7.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/8.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/9.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/10.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/11.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/12.jpg">
                                    </paper-material>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">Shared a video</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>58</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <iframe class="youtube-frame" src="https://www.youtube.com/embed/oVW9pQ2uwVE?autoplay=0"></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">Shared a video</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>19</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <iframe class="youtube-frame" src="https://www.youtube.com/embed/7Aq4oYjLfns?autoplay=0"></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">34 Photos</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>19</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <div class="gallery-preview-container">
                                <div class="gallery-preview">
                                    <paper-material>
                                        <img src="../../images/temp/1.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/2.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/3.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/4.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/5.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/6.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/7.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/8.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/9.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/10.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/11.jpg">
                                    </paper-material>
                                    <paper-material>
                                        <img src="../../images/temp/12.jpg">
                                    </paper-material>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item-header layout">
                            <div class="avatar flex-none">
                                <img src="../../images/temp/profile.png">
                            </div>
                            <div class="item-info flex">
                                <div class="item-display-name font-body1">Luther Hakanavanhu</div>
                                <div class="item-event-title font-body1">Shared a video</div>
                            </div>
                            <paper-button class="item-favourites flex-none self-center">
                                <iron-icon icon="favorite"></iron-icon>
                                <span>28</span>
                            </paper-button>
                            <paper-button class="item-share flex-none self-center">
                                <iron-icon icon="social:share"></iron-icon>
                                <span>Share</span>
                            </paper-button>
                        </div>
                        <div class="item-content">
                            <iframe class="youtube-frame" src="https://www.youtube.com/embed/-DIMeYVNWhM?autoplay=0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="profile">
                    <div class="profile-container">
                        <div class="fit overlay"></div>
                        <img src="../../images/temp/profile.png" class="fit">
                        <div class="profile-avatar">
                            <img src="../../images/temp/profile.png">
                        </div>
                        <div class="profile-name font-title">Luther Hakanavanhu, 20</div>
                        <div class="profile-status font-body1">Edmonton, AB | Shooting Guard</div>
                        <div class="profile-rating">
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                        </div>
                    </div>
                    <paper-tabs selected="0" noink id="subtabs">
                        <paper-tab>Posts</paper-tab>
                        <paper-tab>Friends</paper-tab>
                    </paper-tabs>
                    <!--iron-list items="[[profileItems]]" as="item">
                        <template>
                            <div>
                                <div class="item-header layout">
                                    <div class="item-info flex">
                                        <div class="item-event-title font-body1">[[item.title]]</div>
                                    </div>
                                    <paper-button class="item-favourites flex-none self-center">
                                        <iron-icon icon="favorite"></iron-icon>
                                        <span>96</span>
                                    </paper-button>
                                    <paper-button class="item-share flex-none self-center">
                                        <iron-icon icon="social:share"></iron-icon>
                                        <span>Share</span>
                                    </paper-button>
                                </div>
                                <div class="item-content">
                                    <div class="gallery-preview-container">
                                        <div class="gallery-preview">
                                            <paper-material>filler</paper-material>
                                            <paper-material>filler</paper-material>
                                            <paper-material>filler</paper-material>
                                            <paper-material>filler</paper-material>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </iron-list-->
                    <div class="list">
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">Shared a video</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>42</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <iframe class="youtube-frame" src="https://www.youtube.com/embed/b2aUTjpFwdY?autoplay=0"></iframe>
                            </div>
                        </div>
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">34 Photos</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>19</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <div class="gallery-preview-container">
                                    <div class="gallery-preview">
                                        <paper-material>
                                            <img src="../../images/temp/1.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/2.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/3.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/4.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/5.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/6.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/7.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/8.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/9.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/10.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/11.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/12.jpg">
                                        </paper-material>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">Shared a video</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>58</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <iframe class="youtube-frame" src="https://www.youtube.com/embed/oVW9pQ2uwVE?autoplay=0"></iframe>
                            </div>
                        </div>
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">Shared a video</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>19</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <iframe class="youtube-frame" src="https://www.youtube.com/embed/7Aq4oYjLfns?autoplay=0"></iframe>
                            </div>
                        </div>
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">34 Photos</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>19</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <div class="gallery-preview-container">
                                    <div class="gallery-preview">
                                        <paper-material>
                                            <img src="../../images/temp/1.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/2.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/3.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/4.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/5.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/6.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/7.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/8.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/9.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/10.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/11.jpg">
                                        </paper-material>
                                        <paper-material>
                                            <img src="../../images/temp/12.jpg">
                                        </paper-material>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="item-header layout">
                                <div class="item-info flex">
                                    <div class="item-event-title font-body1">Shared a video</div>
                                </div>
                                <paper-button class="item-favourites flex-none self-center">
                                    <iron-icon icon="favorite"></iron-icon>
                                    <span>28</span>
                                </paper-button>
                                <paper-button class="item-share flex-none self-center">
                                    <iron-icon icon="social:share"></iron-icon>
                                    <span>Share</span>
                                </paper-button>
                            </div>
                            <div class="item-content">
                                <iframe class="youtube-frame" src="https://www.youtube.com/embed/-DIMeYVNWhM?autoplay=0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </iron-pages>
        </paper-header-panel>
        </paper-drawer-panel>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'x-home-view',
                properties: {
                    homeItems: {
                        type: Array,
                        value: [{
                            name: 'Luther Hakanavanhu',
                            title: 'Video',
                        }],
                    },
                    profileItems: {
                        type: Array,
                        value: [{
                            name: 'Gabriella Becker',
                            title: '34 Photos',
                        }, {
                            name: 'Gabriella Becker',
                            title: '34 Photos',
                        }],
                    },
                },
                listeners: {
                    'tabs.iron-select': 'onIronSelect',
                },
                openDrawer: function () {
                    this.$.drawer.openDrawer();
                },
                closeDrawer: function () {
                    this.$.drawer.closeDrawer();
                },

                goLanding: function () {
                    app.goLanding();
                },

                onIronSelect: function () {
                    var selected = this.$.tabs.selected;
                    if (selected === 0 || selected === 1) {
                        this.$.pages.selected = selected;
                    }
                },
            });
        })();
    </script>
</dom-module>
