<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="x-landing-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
            div.fit {
                background: var(--primary-color);
                min-width: 320px;
                min-height: 432px;
            }
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 320px;
                height: 432px;
                margin-top: -216px;
                margin-left: -160px;
                padding: 16px;
            }
            img {
                border: 2px solid var(--text-primary-color);
                border-radius: 7px;
                margin: 0 auto;
                display: block;
                height: 128px;
                width: 128px;
            }
            h2 {
                color: var(--text-primary-color);
                font-weight: bold !important;
                margin: 48px 0 32px;
                text-align: center;
                width: 100%;
            }
            paper-button {
                background: var(--accent-color);
                color: var(--text-primary-color);
                width: 288px;
                height: 56px;
                padding: 20px 0;
                margin: 0;
            }
            paper-button:first-of-type {
                margin-bottom: 32px;
            }
        </style>

        <div class="fit">
            <div class="container">
                <img src="../../images/basketball.min.svg">
                <h2 class="font-display2">Ball Together</h2>
                <paper-button raised on-click="goSignup">Sign up</paper-button>
                <paper-button raised on-click="goLogin">Log in</paper-button>
            </div>
        </div>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'x-landing-view',
                goLogin: function () {
                    app.goLogin();
                },
                goSignup: function () {
                    app.goSignup();
                },
            });
        })();
    </script>
</dom-module>
