<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">


<dom-module id="x-sign-up-view">
    <template>
        <style include="shared-styles">
            :host {
                --paper-input-container-color: var(--secondary-text-color);
                --paper-input-container-focus-color: var(--secondary-text-color);
                --paper-input-container-input-color: var(--primary-text-color);
                display: block;
            }
            paper-toolbar {
                --paper-toolbar-title: {
                    line-height: 2;
                };
                --paper-toolbar-content: {
                    padding: 0 8px;
                }
            }
            paper-toolbar paper-icon-button {
                margin-right: 24px;
            }
            div.fit {
                min-width: 320px;
                min-height: 748px;
            }
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 320px;
                height: 748px;
                margin-top: -374px;
                margin-left: -160px;
                padding: 16px;
            }
            paper-input,
            paper-dropdown-menu {
                border: 1px solid var(--divider-color);
                margin-top: 16px;
                padding: 0 8px;
            }
            paper-checkbox {
                --paper-checkbox-label-spacing: 16px;
                margin-top: 32px;
                padding: 0 8px;
            }
            paper-input {
                width: 288px;
                border-radius: 2px;
            }
            paper-input:first-of-type {
                margin-top: 0;
            }
            paper-dropdown-menu {
                width: 134px;
            }
            paper-dropdown-menu paper-listbox {
                --paper-listbox-background-color: #fff;
            }
            paper-button {
                width: 288px;
                margin: 16px 0;
                height: 56px;
                padding: 20px 0;
            }
            paper-button:first-of-type {
                background: var(--accent-color);
                color: var(--text-primary-color);
                margin: 32px 0 16px;
            }
            paper-button:last-of-type {
                background: var(--paper-indigo-500);
                color: var(--text-primary-color);
                margin: 16px 0 0;
            }
            paper-dropdown-menu + paper-dropdown-menu {
                margin-left: 16px;
            }
            paper-button + div {
                width: 100%;
                text-align: center;
            }
        </style>

        <paper-header-panel class="fit">
            <paper-toolbar>
                <paper-icon-button icon="arrow-back" on-click="goLanding"></paper-icon-button>
                <span class="title">Sign up</span>
            </paper-toolbar>
            <div class="fit">
                <div class="container">
                    <paper-input error-message="Username is already taken" label="Username"></paper-input>
                    <paper-input type="password" label="Password"></paper-input>
                    <paper-input type="password" label="Password Again"></paper-input>
                    <paper-dropdown-menu label="Age" vertical>
                        <paper-listbox class="dropdown-content">
                            <paper-item>12</paper-item>
                            <paper-item>13</paper-item>
                            <paper-item>14</paper-item>
                            <paper-item>15</paper-item>
                            <paper-item>16</paper-item>
                            <paper-item>17</paper-item>
                            <paper-item>18</paper-item>
                            <paper-item>19</paper-item>
                            <paper-item>20</paper-item>
                            <paper-item>21</paper-item>
                            <paper-item>22</paper-item>
                            <paper-item>23</paper-item>
                            <paper-item>24</paper-item>
                            <paper-item>25</paper-item>
                            <paper-item>26</paper-item>
                            <paper-item>27</paper-item>
                            <paper-item>28</paper-item>
                            <paper-item>29</paper-item>
                            <paper-item>30</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-dropdown-menu label="Gender" vertical>
                        <paper-listbox class="dropdown-content">
                            <paper-item>Male</paper-item>
                            <paper-item>Female</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-input type="email" error-message="Not a valid email address" label="Email Address"></paper-input>
                    <paper-dropdown-menu label="City" vertical>
                        <paper-listbox class="dropdown-content">
                            <paper-item>Vancouver</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-dropdown-menu label="Country" vertical>
                        <paper-listbox class="dropdown-content">
                            <paper-item>Canada</paper-item>
                            <paper-item>United States</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-checkbox>Send me info about events and promotions</paper-checkbox>
                    <paper-button on-click="goHome" raised>Sign up</paper-button>
                    <div>OR</div>
                    <paper-button on-click="goHome" raised>Log in with facebook</paper-button>
                </div>
            </div>
        </paper-header-panel>

    </template>
    <script>
        (function () {
            'use strict';

            Polymer({
                is: 'x-sign-up-view',
                goLanding: function () {
                    app.goLanding();
                },
                goHome: function () {
                    app.goHome();
                },
            });
        })();
    </script>
</dom-module>
